@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@douyinfe/semi-ui/dist/css/semi.min.css';

* {
  scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.5px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: transparent;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
